**Identify which customers are about to churn:**
- Assign to each one a score between 0 and 1 that tells how likely this customer is going to leave

- If a customer is likely to churn, what actions can be take?

One way to approach this is through **BINARY CLASSIFICATION**

*g(x_i) ≈ y_i*

- x_i: ith observation

- *y_i ∈ {0,1}*

    - 0: negative example
    - 1: positive example

## 3.2. Data preparation

In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv('Telco.csv')
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

**Tip:** For large data sets, the transpose of the first 5 rows can help get a more clear view of the table's columns and its observations

In [3]:
df.head().T

,0,1,2,3,4
customerID,7590-VHVEG,5575-GNVDE,3668-QPYBK,7795-CFOCW,9237-HQITU
gender,Female,Male,Male,Male,Female
SeniorCitizen,0,0,0,0,0
Partner,Yes,No,No,No,No
Dependents,No,No,No,No,No
tenure,1,34,2,45,2
PhoneService,No,Yes,Yes,No,Yes
MultipleLines,No phone service,No,No,No phone service,No
InternetService,DSL,DSL,DSL,DSL,Fiber optic
OnlineSecurity,No,Yes,Yes,Yes,No
OnlineBackup,Yes,No,Yes,No,No
DeviceProtection,No,Yes,No,Yes,No
TechSupport,No,No,No,Yes,No
StreamingTV,No,No,No,No,No
StreamingMovies,No,No,No,No,No
Contract,Month-to-month,One year,Month-to-month,One year,Month-to-month
PaperlessBilling,Yes,No,Yes,No,Yes
PaymentMethod,Electronic check,Mailed check,Mailed check,Bank transfer (automatic),Electronic check
MonthlyCharges,29.85,56.95,53.85,42.3,70.7
TotalCharges,29.85,1889.5,108.15,1840.75,151.65
Churn,No,No,Yes,No,Yes

- Make both columns and data entries consistent

In [4]:
# Minimize the column names and replace the blank spaces
df.columns = df.columns.str.lower().str.replace(' ', '_')

# Identify only the categorical columns
categorical_columns = list(df.dtypes[df.dtypes == 'object'].index)

# For the categorical columns' observations, minimize the strings and replace the blank spaces
for c in categorical_columns:
    df[c] = df[c].str.lower().str.replace(' ', '_')

In [5]:
df.head().T

,0,1,2,3,4
customerid,7590-vhveg,5575-gnvde,3668-qpybk,7795-cfocw,9237-hqitu
gender,female,male,male,male,female
seniorcitizen,0,0,0,0,0
partner,yes,no,no,no,no
dependents,no,no,no,no,no
tenure,1,34,2,45,2
phoneservice,no,yes,yes,no,yes
multiplelines,no_phone_service,no,no,no_phone_service,no
internetservice,dsl,dsl,dsl,dsl,fiber_optic
onlinesecurity,no,yes,yes,yes,no
onlinebackup,yes,no,yes,no,no
deviceprotection,no,yes,no,yes,no
techsupport,no,no,no,yes,no
streamingtv,no,no,no,no,no
streamingmovies,no,no,no,no,no
contract,month-to-month,one_year,month-to-month,one_year,month-to-month
paperlessbilling,yes,no,yes,no,yes
paymentmethod,electronic_check,mailed_check,mailed_check,bank_transfer_(automatic),electronic_check
monthlycharges,29.85,56.95,53.85,42.3,70.7
totalcharges,29.85,1889.5,108.15,1840.75,151.65
churn,no,no,yes,no,yes

In [6]:
df.dtypes

customerid           object
gender               object
seniorcitizen         int64
partner              object
dependents           object
tenure                int64
phoneservice         object
multiplelines        object
internetservice      object
onlinesecurity       object
onlinebackup         object
deviceprotection     object
techsupport          object
streamingtv          object
streamingmovies      object
contract             object
paperlessbilling     object
paymentmethod        object
monthlycharges      float64
totalcharges         object
churn                object
dtype: object

In [7]:
df.seniorcitizen.unique()

array([0, 1], dtype=int64)

- seniorcitizen is an integer, when it fact is a dummy variable

In [8]:
df.totalcharges.unique()

array(['29.85', '1889.5', '108.15', ..., '346.45', '306.6', '6844.5'],
      dtype=object)

- totalcharges is an object when it should be a number

In [9]:
pd.to_numeric(df.totalcharges)

ValueError: Unable to parse string "_" at position 488

- This error occureds, because "_" is in the data and pandas does not know how to convert this into a number.

- This happened, because of the previous step to replaced all the blanks spaces with "_"

- Use errors="coerce" and everything that can not be converted, will be converted to NaN

In [11]:
tc = pd.to_numeric(df.totalcharges, errors = 'coerce')

In [12]:
tc

0         29.85
1       1889.50
2        108.15
3       1840.75
4        151.65
         ...
7038    1990.50
7039    7362.90
7040     346.45
7041     306.60
7042    6844.50
Name: totalcharges, Length: 7043, dtype: float64

In [13]:
tc.isnull().sum()

11

- There are 11 missing values. Filter the data set using .isnull()

In [14]:
df[tc.isnull()]

,customerid,gender,seniorcitizen,partner,dependents,tenure,phoneservice,multiplelines,internetservice,onlinesecurity,...,deviceprotection,techsupport,streamingtv,streamingmovies,contract,paperlessbilling,paymentmethod,monthlycharges,totalcharges,churn
488,4472-lvygi,female,0,yes,yes,0,no,no_phone_service,dsl,yes,...,yes,yes,yes,no,two_year,yes,bank_transfer_(automatic),52.55,_,no
753,3115-czmzd,male,0,no,yes,0,yes,no,no,no_internet_service,...,no_internet_service,no_internet_service,no_internet_service,no_internet_service,two_year,no,mailed_check,20.25,_,no
936,5709-lvoeq,female,0,yes,yes,0,yes,no,dsl,yes,...,yes,no,yes,yes,two_year,no,mailed_check,80.85,_,no
1082,4367-nuyao,male,0,yes,yes,0,yes,yes,no,no_internet_service,...,no_internet_service,no_internet_service,no_internet_service,no_internet_service,two_year,no,mailed_check,25.75,_,no
1340,1371-dwpaz,female,0,yes,yes,0,no,no_phone_service,dsl,yes,...,yes,yes,yes,no,two_year,no,credit_card_(automatic),56.05,_,no
3331,7644-omvmy,male,0,yes,yes,0,yes,no,no,no_internet_service,...,no_internet_service,no_internet_service,no_internet_service,no_internet_service,two_year,no,mailed_check,19.85,_,no
3826,3213-vvolg,male,0,yes,yes,0,yes,yes,no,no_internet_service,...,no_internet_service,no_internet_service,no_internet_service,no_internet_service,two_year,no,mailed_check,25.35,_,no
4380,2520-sgtta,female,0,yes,yes,0,yes,no,no,no_internet_service,...,no_internet_service,no_internet_service,no_internet_service,no_internet_service,two_year,no,mailed_check,20.00,_,no
5218,2923-arzlg,male,0,yes,yes,0,yes,no,no,no_internet_service,...,no_internet_service,no_internet_service,no_internet_service,no_internet_service,one_year,yes,mailed_check,19.70,_,no
6670,4075-wkniu,female,0,yes,yes,0,yes,yes,dsl,no,...,yes,yes,yes,no,two_year,no,mailed_check,73.35,_,no
6754,2775-sefee,male,0,no,yes,0,yes,yes,dsl,yes,...,no,yes,no,no,two_year,yes,bank_transfer_(automatic),61.90,_,no

In [15]:
df.totalcharges = pd.to_numeric(df.totalcharges, errors = 'coerce')

- Fill the missing values with zero 

- Take in attention that 0 may not be the best approach. There's a need to relate the course of action with business knowledge

In [16]:
df.totalcharges = df.totalcharges.fillna(0)

- Look at the target variable and replace the positive example with 1 and negative example with 0

In [17]:
df.churn

0        no
1        no
2       yes
3        no
4       yes
       ...
7038     no
7039     no
7040     no
7041    yes
7042     no
Name: churn, Length: 7043, dtype: object

- Using this logical approach, we confirm that yes is True so it can be converted into a number

In [18]:
df.churn == 'yes'

0       False
1       False
2        True
3       False
4        True
        ...
7038    False
7039    False
7040    False
7041     True
7042    False
Name: churn, Length: 7043, dtype: bool

In [19]:
(df.churn == 'yes').astype(int)

0       0
1       0
2       1
3       0
4       1
       ..
7038    0
7039    0
7040    0
7041    1
7042    0
Name: churn, Length: 7043, dtype: int32

In [20]:
df.churn = (df.churn == 'yes').astype(int)

## 3.3. Setting up validation framework

- Do the same split (60%-20%-20%) that was done in the regression framework, using scikit-learn

In [21]:
from sklearn.model_selection import train_test_split

In [ ]:
train_test_split?

In [22]:
df_full_train, df_test = train_test_split(df, test_size = 0.2, random_state = 1)

- Split the full_train to obtain the train and validation data set

- **Attention:** To get the 20% of the full data set, calculate how much 20% out of 80% (the full_train percentage) is

In [23]:
val_size = 0.2/0.8
val_size

0.25

In [24]:
df_train, df_val = train_test_split(df_full_train, test_size = 0.25, random_state = 1)

In [25]:
len(df_train), len(df_val), len(df_test)

(4225, 1409, 1409)

- Reset indexes

In [26]:
df_train = df_train.reset_index(drop = True)
df_val = df_val.reset_index(drop = True)
df_test = df_test.reset_index(drop = True)
df_full_train = df_full_train.reset_index(drop = True)

- Get the y vectors

In [27]:
y_train = df_train['churn'].values
y_val = df_val['churn'].values
y_test = df_test['churn'].values

- Drop the target variables from the features

In [28]:
del df_train['churn']
del df_val['churn']
del df_test['churn']

## 3.4. Exploratory data analysis

- Check for missing values

In [29]:
df_full_train.isnull().sum()[df_full_train.isnull().sum() > 0]

Series([], dtype: int64)

- See the distribution of the target variable

In [30]:
df_full_train['churn'].value_counts(normalize = True)

0    0.730032
1    0.269968
Name: churn, dtype: float64

- Churn Rate = 26%
    - 26% of users are churn users

- Another way to compute is to calculate the mean of the column churn because it is a binary column

In [31]:
df_full_train['churn'].mean()

0.26996805111821087

In [32]:
global_churn_rate = df_full_train['churn'].mean()

round(global_churn_rate, 2)

0.27

In [33]:
df_full_train.dtypes

customerid           object
gender               object
seniorcitizen         int64
partner              object
dependents           object
tenure                int64
phoneservice         object
multiplelines        object
internetservice      object
onlinesecurity       object
onlinebackup         object
deviceprotection     object
techsupport          object
streamingtv          object
streamingmovies      object
contract             object
paperlessbilling     object
paymentmethod        object
monthlycharges      float64
totalcharges        float64
churn                 int32
dtype: object

- There are 3 numerical variables in the data set

In [34]:
numerical = ['tenure', 'monthlycharges', 'totalcharges']

In [35]:
df_full_train.columns

Index(['customerid', 'gender', 'seniorcitizen', 'partner', 'dependents',
       'tenure', 'phoneservice', 'multiplelines', 'internetservice',
       'onlinesecurity', 'onlinebackup', 'deviceprotection', 'techsupport',
       'streamingtv', 'streamingmovies', 'contract', 'paperlessbilling',
       'paymentmethod', 'monthlycharges', 'totalcharges', 'churn'],
      dtype='object')

- Do not need the id column

In [36]:
categorical = ['gender', 'seniorcitizen', 'partner', 'dependents',
       'phoneservice', 'multiplelines', 'internetservice',
       'onlinesecurity', 'onlinebackup', 'deviceprotection', 'techsupport',
       'streamingtv', 'streamingmovies', 'contract', 'paperlessbilling',
       'paymentmethod']

In [37]:
df_full_train[categorical].nunique()

gender              2
seniorcitizen       2
partner             2
dependents          2
phoneservice        2
multiplelines       3
internetservice     3
onlinesecurity      3
onlinebackup        3
deviceprotection    3
techsupport         3
streamingtv         3
streamingmovies     3
contract            3
paperlessbilling    2
paymentmethod       4
dtype: int64

- Some of the columns are binary

## 3.5. Feature importance: Churn rate & Risk ratio

- To understand better the churn rate, lets look at it in different groups

In [38]:
churn_female = df_full_train[df_full_train['gender'] == 'female'].churn.mean()
churn_female

0.27682403433476394

In [39]:
churn_male = df_full_train[df_full_train['gender'] == 'male'].churn.mean()
churn_male

0.2632135306553911

In [40]:
global_churn = df_full_train.churn.mean()
global_churn

0.26996805111821087

- The difference to global_churn from either male or female is not very significative

In [41]:
df_full_train.partner.value_counts()

no     2932
yes    2702
Name: partner, dtype: int64

In [42]:
churn_partner = df_full_train[df_full_train['partner'] == 'yes'].churn.mean()
churn_partner

0.20503330866025166

In [43]:
churn_no_partner = df_full_train[df_full_train['partner'] == 'no'].churn.mean()
churn_no_partner

0.3298090040927694

- The churn rate is more for people without partner and less for people with partner

In [44]:
global_churn - churn_partner

0.06493474245795922

In [45]:
global_churn - churn_no_partner

-0.05984095297455855

Given that:
- **global_churn_rate** = the total population of the feature
- **group_churn_rate** = a filtered subset of the feature's population

Looking at the difference between them (global_churn_rate - group_churn_rate) if:
- Difference < 0 -> that group is more likely to churn
- Difference > 0 -> that group is less likely to churn

**With this results we can identify variables that are more important to predict churn the others that have a group_churn_rate similar to the global one**

Instead of looking at the difference, the analyze can be made by dividing the two variables - **Risk Ratio**

In [46]:
churn_no_partner / global_churn

1.2216593879412643

In [47]:
churn_partner / global_churn

0.7594724924338315

If:
- Risk Ratio > 1 -> that group is more likely to churn (*HIGH RISK - if % is significant*)
- Risk Ratio < 1 -> that group is less likely to churn (*LOW RISK - if % is significant*)

The Difference and Risk Ratio are similar in given a broad conclusion, but the Risk Ratio gives an interpretation in a more relative way.

**In the example, the churn rate for people without a partner is 22% higher and for people with a partner is 25% lower**

In SQL this could look like this:

```
SELECT gender,
     AVG(churn),
     AVG(churn) - global_churn AS diff,
     AVG(churn) / global_churn AS risk
FROM 
    data
GROUP BY 
    gender;
```

In [48]:
df_full_train.groupby('gender').churn.mean()

gender
female    0.276824
male      0.263214
Name: churn, dtype: float64

- This is a series, but ww want to return a DataFrame to add the columns *diff* and *risk*

In [49]:
## agg takes a list of aggregations we can calculate

df_full_train.groupby('gender').churn.agg(['mean', 'count'])

            mean  count
gender
female  0.276824   2796
male    0.263214   2838

In [50]:
df_group = df_full_train.groupby('gender').churn.agg(['mean', 'count'])
df_group['diff'] = df_group['mean'] - global_churn
df_group['risk'] = df_group['mean'] / global_churn

df_group

            mean  count      diff      risk
gender
female  0.276824   2796  0.006856  1.025396
male    0.263214   2838 -0.006755  0.974980

- Lets do this for all the categorical variables

In [51]:
from IPython.display import display

In [52]:
for c in categorical:
    print(c)
    df_group = df_full_train.groupby(c).churn.agg(['mean', 'count'])
    df_group['diff'] = df_group['mean'] - global_churn
    df_group['risk'] = df_group['mean'] / global_churn
    display(df_group)
    print()
    print()

gender

            mean  count      diff      risk
gender
female  0.276824   2796  0.006856  1.025396
male    0.263214   2838 -0.006755  0.974980

seniorcitizen

                   mean  count      diff      risk
seniorcitizen
0              0.242270   4722 -0.027698  0.897403
1              0.413377    912  0.143409  1.531208

partner

             mean  count      diff      risk
partner
no       0.329809   2932  0.059841  1.221659
yes      0.205033   2702 -0.064935  0.759472

dependents

                mean  count      diff      risk
dependents
no          0.313760   3968  0.043792  1.162212
yes         0.165666   1666 -0.104302  0.613651

phoneservice

                  mean  count      diff      risk
phoneservice
no            0.241316    547 -0.028652  0.893870
yes           0.273049   5087  0.003081  1.011412

multiplelines

                      mean  count      diff      risk
multiplelines
no                0.257407   2700 -0.012561  0.953474
no_phone_service  0.241316    547 -0.028652  0.893870
yes               0.290742   2387  0.020773  1.076948

internetservice

                     mean  count      diff      risk
internetservice
dsl              0.192347   1934 -0.077621  0.712482
fiber_optic      0.425171   2479  0.155203  1.574895
no               0.077805   1221 -0.192163  0.288201

onlinesecurity

                         mean  count      diff      risk
onlinesecurity
no                   0.420921   2801  0.150953  1.559152
no_internet_service  0.077805   1221 -0.192163  0.288201
yes                  0.153226   1612 -0.116742  0.567570

onlinebackup

                         mean  count      diff      risk
onlinebackup
no                   0.404323   2498  0.134355  1.497672
no_internet_service  0.077805   1221 -0.192163  0.288201
yes                  0.217232   1915 -0.052736  0.804660

deviceprotection

                         mean  count      diff      risk
deviceprotection
no                   0.395875   2473  0.125907  1.466379
no_internet_service  0.077805   1221 -0.192163  0.288201
yes                  0.230412   1940 -0.039556  0.853480

techsupport

                         mean  count      diff      risk
techsupport
no                   0.418914   2781  0.148946  1.551717
no_internet_service  0.077805   1221 -0.192163  0.288201
yes                  0.159926   1632 -0.110042  0.592390

streamingtv

                         mean  count      diff      risk
streamingtv
no                   0.342832   2246  0.072864  1.269897
no_internet_service  0.077805   1221 -0.192163  0.288201
yes                  0.302723   2167  0.032755  1.121328

streamingmovies

                         mean  count      diff      risk
streamingmovies
no                   0.338906   2213  0.068938  1.255358
no_internet_service  0.077805   1221 -0.192163  0.288201
yes                  0.307273   2200  0.037305  1.138182

contract

                    mean  count      diff      risk
contract
month-to-month  0.431701   3104  0.161733  1.599082
one_year        0.120573   1186 -0.149395  0.446621
two_year        0.028274   1344 -0.241694  0.104730

paperlessbilling

                      mean  count      diff      risk
paperlessbilling
no                0.172071   2313 -0.097897  0.637375
yes               0.338151   3321  0.068183  1.252560

paymentmethod

                               mean  count      diff      risk
paymentmethod
bank_transfer_(automatic)  0.168171   1219 -0.101797  0.622928
credit_card_(automatic)    0.164339   1217 -0.105630  0.608733
electronic_check           0.455890   1893  0.185922  1.688682
mailed_check               0.193870   1305 -0.076098  0.718121

## 3.6. Feature importance: Mutual information

"**Mutual information** is one of many quantities that measures how much one random variables tells us about another...can be thought of as the reduction in uncertainty about one random variable given knowledge of another. 

 - **High mutual information** indicates a large **reduction** in uncertainty
 - **low mutual information** indicates a **small reduction**
 - **zero mutual information** between two random variables means the **variables are independent**."
 
http://www.scholarpedia.org/article/Mutual_information

For example, in this project, it can be interpreted on how much do we learn about churn if we observe the value of one of the features like *contract*. If we know a particular customer has a month-to-mmonth *contract* how much do we know about churn?

- Using scikit-learn, the metric **mutual_info_score** returns a score between 0 and 1. The **closet to 1**, the **more important** a feature is.

In [53]:
from sklearn.metrics import mutual_info_score

In [54]:
mutual_info_score(df_full_train.churn, df_full_train.contract)

0.0983203874041556

In [55]:
mutual_info_score(df_full_train.churn, df_full_train.gender)

0.0001174846211139946

This is consistent with the conclusion from before, where we saw that gender is not very significant. On the other hand, the feature contract seems to be an important one.

Applying this to all categorical variables:

In [57]:
def mutual_info_churn_score(series):
    return mutual_info_score(df_full_train.churn, series)

In [61]:
mi = df_full_train[categorical].apply(mutual_info_churn_score) #apply this function columnwise

mi.sort_values(ascending = False)

contract            0.098320
onlinesecurity      0.063085
techsupport         0.061032
internetservice     0.055868
onlinebackup        0.046923
deviceprotection    0.043453
paymentmethod       0.043210
streamingtv         0.031853
streamingmovies     0.031581
paperlessbilling    0.017589
dependents          0.012346
partner             0.009968
seniorcitizen       0.009410
multiplelines       0.000857
phoneservice        0.000229
gender              0.000117
dtype: float64

- Contract is the most important variable

- The remaining depend on a pre-defined threshold for which variable should a variable be qualified as important or not


        - OnlineSecurity, TechSuppport and InternetService, OnlineBackup and DeviceProtection also seem to be important variables, they have a very high score and we are interested in these variables.
    
        - These variables is why ML works. By learning that a customer has a month-to-month contract or that has no online security, etc, all these values that the model learns are good indicators if the customer is likely or not to churn.
    
        - These are the kind of signal and patterns that ML models pick in training and allows them to make predictions.

## 3.7. Feature importance: Correlation

## 3.8. One-hot encoding

## 3.9. Logistic regression

## 3.10. Training logistic regression with scikit-learn

## 3.11. Model interpretation

## 3.12. Using the model