In [1]:
import numpy as np

In [2]:
np

### Creating arrays

In [3]:
np.zeros(5)

array([0., 0., 0., 0., 0.])

In [4]:
np.ones(10)

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1.])

In [5]:
np.full(10, 2.5)

array([2.5, 2.5, 2.5, 2.5, 2.5, 2.5, 2.5, 2.5, 2.5, 2.5])

In [6]:
a = np.array([1,2,3,5,7,12])
a

array([ 1,  2,  3,  5,  7, 12])

In [7]:
a[2]

3

In [8]:
a[2]=10

In [9]:
a

array([ 1,  2, 10,  5,  7, 12])

In [11]:
# create a range from 0 to 9
np.arange(10)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [13]:
#create a range starting with 3 to 9
np.arange(3,10)

array([3, 4, 5, 6, 7, 8, 9])

In [14]:
#create an array of size 11 fom 0 to 1
np.linspace(0, 1, 11)

array([0. , 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1. ])

### Multi-dimentional arrays

In [15]:
np.zeros((5,2))

array([[0., 0.],
       [0., 0.],
       [0., 0.],
       [0., 0.],
       [0., 0.]])

In [17]:
n = np.array([
        [1,2,3],
        [4,5,6],
        [7,8,9]
    ])

In [18]:
n

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [19]:
# access row nr0 and column nr1
n[0,1]

2

In [20]:
n[0,1]= 20
n

array([[ 1, 20,  3],
       [ 4,  5,  6],
       [ 7,  8,  9]])

In [21]:
# access an entire row
n[0]

array([ 1, 20,  3])

In [24]:
# assign using a python list
n[2] = [1,1,1]

In [25]:
n

array([[ 1, 20,  3],
       [ 4,  5,  6],
       [ 1,  1,  1]])

In [26]:
# acess an entire column
n[:,1]

array([20,  5,  1])

### Randomly generated arrays

In [27]:
#uniform distributed array

np.random.rand(5, 2)

array([[0.82342903, 0.5461993 ],
       [0.97988155, 0.35022547],
       [0.5194948 , 0.40063003],
       [0.45845927, 0.64854024],
       [0.02190523, 0.29246878]])

In [28]:
np.random.seed(10)
np.random.rand(5, 2)

array([[0.77132064, 0.02075195],
       [0.63364823, 0.74880388],
       [0.49850701, 0.22479665],
       [0.19806286, 0.76053071],
       [0.16911084, 0.08833981]])

In [29]:
# Normal distribution
np.random.randn(5,2)

array([[ 0.26551159,  0.10854853],
       [ 0.00429143, -0.17460021],
       [ 0.43302619,  1.20303737],
       [-0.96506567,  1.02827408],
       [ 0.22863013,  0.44513761]])

In [30]:
# Integers

100 * np.random.rand(5,2)

array([[54.2544368 , 14.21700476],
       [37.33407601, 67.41336151],
       [44.18331744, 43.40139933],
       [61.77669785, 51.31382426],
       [65.03971819, 60.10389534]])

In [31]:
np.random.seed(2)
np.random.randint(low = 0,
                  high = 100,
                  size = (5,2)
                 )

array([[40, 15],
       [72, 22],
       [43, 82],
       [75,  7],
       [34, 49]])

### Element-wise operations

In [32]:
a = np.arange(5)
a

array([0, 1, 2, 3, 4])

In [33]:
a + 1

array([1, 2, 3, 4, 5])

In [34]:
a * 2

array([0, 2, 4, 6, 8])

In [35]:
b = (10 + (a * 2)) ** 2 / 100
b

array([1.  , 1.44, 1.96, 2.56, 3.24])

In [36]:
a + b + 10

array([11.  , 12.44, 13.96, 15.56, 17.24])

### Comparison operators

In [37]:
a

array([0, 1, 2, 3, 4])

In [38]:
a >= 2

array([False, False,  True,  True,  True])

In [39]:
b

array([1.  , 1.44, 1.96, 2.56, 3.24])

In [40]:
a > b

array([False, False,  True,  True,  True])

In [49]:
# Only prints the elements of array a in which the logical operation is true
a[a > b]

array([2, 3, 4])

### Summarizing operations

In [42]:
a

array([0, 1, 2, 3, 4])

In [43]:
a.min()

0

In [44]:
a.max()

4

In [45]:
a.sum()

10

In [46]:
a.mean()

2.0

In [47]:
a.std()

1.4142135623730951

In [48]:
a.var()

2.0